body{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: relative;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu {
  width: 205px;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu ul ul {
  display: none;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 10px;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  background: #bd2d2f; /* <== ============================= COR DO MENU =========================*/
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {
  color: #eeeeee;
  background: #23769e; /*rgba(247, 177, 28, 1)<== ============================= COR DO MENU SELECIONADO =========================*/
}
#cssmenu > ul > li.open > a {
  border-bottom: 1px solid #FFFFFF;
}
#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {
  border-bottom: 1px solid #FFFFFF;
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
}
.holder::after {
  top: 17px;
}
.holder::before {
  top: 18px;
}
#cssmenu ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #310300;
  background: #e1ebf7;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
  background: #d2e0f1;
  color: #e30613;
}
#cssmenu ul ul ul li a {
  padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #FFFFFF;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#cssmenu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
}
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after {
  border-color: #e30613;
}
#cssmenu span.cnt {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none;
}
#cssmenu span.cnt img{
  border: none; 
  text-decoration: none;
}

#menu{
	display: block;
	/*background-color: #00afef;80AD0D*/
	background-color: #bd2d2f;
	font-weight: bold;
	cursor: pointer;
	padding: 5 5 5 7px;
	list-style: circle;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #ffffff;
}