@charset "utf-8";
/* CSS Document */

body { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;}

table {
    border-collapse:collapse;
    table-layout:fixed;
}

tr 
{
	height: 40px;
}



.texto {
    background-color: #FFFFFF;
    font: 10px Verdana, arial, helvetica, sans-serif;
    color: #000000;
    height:20px;
    float: right;
    position: relative;
}

.textoTabela {
    background-color: #FFFFFF;
    font: 10px Verdana, arial, helvetica, sans-serif;
    color: #000000;
    height:15px;
    position: relative;
}

.label {
    float: left;
}

.labelTabela {
    float: right;
}